.block-comment
  background-color: #fff
  border-radius: 7px

.block-comment-reply
  display: flex
  flex-direction: column
  gap:20px

.block-comment-reply-item
  background-color: #fff
  border-radius: 7px
  margin-left: 40px
  display: flex
  flex-direction: column
  

.block-comment-main
  display: flex
  flex-direction: column
  gap: 20px

.block-comment-score
  background-color: #dcdcf8